{% extends 'base.html' %}
{% load static %}
{% block content %}


    <section class="bg-light py-5">
    <form method="post">
    {% csrf_token %}


        <div class="container px-5 my-5">
            <div class="row">
                <div class="col-md-6"><h2 class="fw-bolder">Create new project</h2></div>

            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">

                        <div class="mb-3">
                            <span class="fw-bold" style="font-size: 19px">Customer information</span>

                        </div>


                            <div class="row">
                                <div class="col">
                                    <label for="first_name" class="form-label">First name</label>
                                    {{ customer_form.customer_first_name }}


                                </div>
                                <div class="col">
                                    <label for="last_name" class="form-label">Last name</label>
                                    {{ customer_form.customer_last_name }}
                                </div>
                            </div>


                            <div class="mb-3" style="padding-top: 12px">
                                <label for="email" class="form-label">Email address</label>
                                {{ customer_form.customer_email }}
                            </div>


                            <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                {{ unvan_form.unvan_title }}

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="city">City</label>
                                    {{unvan_form.unvan_city}}
                                </div>
                                <div class="col">
                                    <label class="form-label" for="state">State</label>
                                    {{unvan_form.unvan_state}}
                                </div>
                                <div class="col">
                                    <label class="form-label" for="zip">ZIP</label>
                                    {{ unvan_form.unvan_zip }}
                                </div>
                            </div>



                    </div>
                </div>
            </div>
            <br>
            <div class="container">

                <a href="#">Or Use an Existing Customer</a>

            </div>
            <br>


            <div class="col-lg-6 col-xl-7">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">

                        <div class="mb-3">
                            <span class="fw-bold" style="font-size: 19px">Project information</span>

                        </div>



                            <div class="mb-3">
                                <label for="" class="form-label" for="project_name">Project name</label>
                                {{ project_form.project_title }}

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="exampleFormControlInput1" class="form-label"> Start date</label>
                                    {{ project_form.project_start_date }}
                                </div>
                                <div class="col">
                                    <label for="exampleFormControlInput1" class="form-label">End date</label>
                                    {{ project_form.project_end_date }}
                                </div>
                            </div>



<br>
                <div class="mb-3">
                    <label for="" class="form-label">Project status</label>
                        {{ project_form.status }}
                </div>

                            <div class="mb-5">
  <label for="exampleFormControlTextarea1" class="form-label">Notes</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<div class="container">
    <input type="submit" value="Submit" class="form-control btn-primary" />
</div>

                    </div>
                </div>
            </div>
        </div>

    </form>
    </section>



{% endblock %}
